*
!*/
# whitelist
!/procon-utils
!/.gitignore
!/.vscode/tasks.json
!/CMakeLists.txt
!/src/atcoder/**/*.cc
!/src/atcoder/**/*.py
!/src/aoj/**/*.cc
!/src/aoj/**/*.py
!/src/gcj/**/*.cc
!/src/gcj/**/*.py
